header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	nav {
		display: flex;
		flex-direction: row;
		gap: 0.5em;
		justify-content: flex-start;
		align-items: center;

		a {
			white-space: nowrap;
		}
	}
}

/* Media query for small screens */
@media (max-width: 700px) {
	header {
		flex-direction: column;
		gap: 0.5em;
		justify-content: flex-start;

		nav {
			justify-content: flex-start;
		}
	}
}