@import './header.scss';

@font-face {
	font-family: geist;
	src: url('/geist.ttf');
}

* {
	box-sizing: border-box;
}

html,
body {
	font-family: geist, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	height: 100%;
	margin: 0;
	padding: 1em;
	overflow: auto;
	line-height: 1.5;
}

body {
	background-color: #f4f3f2;
}

a,
a:visited {
	color: blue;
}

a:hover {
	text-transform: uppercase;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1em;
	max-width: 800px;
}

h1 {
	font-size: 1rem;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 0.9rem;
}

.album-title {
	display: flex;
	flex-direction: row;
	gap: 0.25em
}

.release-code {
	color: #333333
}

.contact-container {
	display: flex;
	flex-direction: column;

	form {
		display: flex;
		flex-direction: column;
		max-width: 300px;
		gap: 0.5em;

		label {
			font-size: 0.8rem;
		}

		#message {
			height: 200px;
		}
	}
}

#about-me-photo {
	width: min(100%, 300px);
	height: auto;
}

.work-section {
	h2 {
		font-size: 1rem;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			margin: 0;
		}
	}
}

.front-page-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;

	.works {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}

	img {
		max-width: 400px;
		max-height: auto;
	}
}

/* Adjust for small screens */
@media screen and (max-width: 700px) {
	img {
		display: none;
	}
}